<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <bean  class="com.springCore.Student" id="student">    
    <property name="studentId" value="1"/>
    <property name="studentName" value="Aruna"/>
    <property name="studentAddress" value="Hyderabad"/>
    <property name="address" ref="address"/>
    
 </bean>
 
 <bean class="com.springCore.Address" id="address">
     <property name="houseNo" value="108"/>
     <property name="city" value="Hyderabad"/>
     <property name="state" value="Telangana"/>
     <property name="country" value="India"/>
 
 </bean>
 
 
 </beans>